<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <input type="text" placeholder="Enter Name">
        <p>This is my first Heroku app</p>
    </body>

</html>